.containerStudent {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.containerCard {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;

}

.h3 {
    margin-top: 50px;
    text-decoration: underline;
    font-size: 30px;
    font-weight: bold;
}